#nav_bar{
    background-color: rgb(231, 255, 16) !important;
   
    
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left:25px;
    font-size: 17px;
    font-weight: 500;
    color: rgb(255, 0, 0);
}
.btn-outline-success{
    background-color: rgb(255, 255, ) !important;
    color: azure;
}
#searchbox {
    background-color: coral;
    color: aliceblue;
    border: 0;
    border-radius: 0;
    box-shadow: 5px 5px 5px 5px gray;
    position: relative;
   
   
}
#searchbtn{
    position: relative;
    z-index: 99;

}
#banner{
    background-color: rgb(181, 179, 29);
    padding-bottom: 20px;
}
#bannertext h1{
    color: white;
    font-size: 70px;
   

    
}
#bannertext p{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
#banner-btn1{
    background-color: blue;
    border:2px solid white;

}
#banner-btn2{
    color: white;
    border: 2px solid white; 
}

#plx{
    color: brown;


}

#cardimg{
    width: auto px;
}
#btn1{
    background-color: aqua;
}